* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: auto;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    overflow-x: hidden;
    background: #f2f9f5;
}

:root {
    --cursor: pointer;
    --jdgm-primary-color: #435870;
    --jdgm-secondary-color: rgba(67, 88, 112, 0.1);
    --jdgm-star-color: #FFC200;
    --jdgm-write-review-text-color: #f5fcf8;
    --jdgm-write-review-bg-color: #535673;
    --jdgm-paginate-color: #435870;
    --jdgm-border-radius: 0;
    --jdgm-reviewer-name-color: #607186;
    --jdgm-white-color: #ffffff;

}

.announcement-bar-wrapper {
    width: 100%;
    background: var(--jdgm-write-review-text-color);
}

.announcement-bar-content {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 1.2;
    font-size: 13px;
    font-weight: 600;
    color: var(--jdgm-write-review-bg-color);
    cursor: var(--cursor);
    letter-spacing: 1px;
    padding: 10px 10px;
    padding-bottom: 13px;
}


.banner-video {
    width: 100%;
    height: 100%;
    max-height: 840px;
    object-fit: cover;
}

.banner-page-wrapper-discription {
    position: relative;
}

img.header-logo {
    width: 120px;
    cursor: var(--cursor);
    margin: 7.5px;
}

.header-icons {
    width: 134px;
    display: flex;
    gap: 31px;
    align-items: baseline;
    cursor: var(--cursor);
    margin-right: 14px;
}

.banner-page-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigations {
    display: flex;
    gap: 39px;
}

.banner-page-heading {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 39px;
    align-items: center;
    background: white;
    padding: 8px 9px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px;
    border-radius: 5px;
    margin: 30px;
    width: calc(100% - 60px);
    position: fixed;
}

.banner-page-logo {
    margin-left: 12px;
}

a.navigation-heading {
    color: var(--jdgm-reviewer-name-color);
    font-weight: 600;
    position: relative;
}

.icon-roted {
    width: 11px;
    color: var(--jdgm-reviewer-name-color);
}

.icon-roted:hover {
    transform: rotate(180deg);
}

.main-heading {
    display: flex;
    gap: 8px;
    position: relative;
}

.icons {
    display: flex;
    gap: 10px;
    align-items: anchor-center;
}

span {
    color: var(--jdgm-reviewer-name-color);
}

.button {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 1000px;
    padding: 0;
    background-color: var(--jdgm-primary-color);
    color: var(--jdgm-write-review-text-color);
}

.banner-content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 68%;
    bottom: 73px;
    width: 100%;
    max-width: 88%;
    justify-content: space-between;
    left: 9%;
}

.banner-text {
    font-size: 48px;
    color: var(--jdgm-write-review-text-color);
    max-width: 790px;
}

.underline-animation :hover {
    border-bottom: 2px solid var(--jdgm-paginate-color);
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 48px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.5s linear 0.1s;
}

.navigation-heading {
    position: relative;
}

.dropdown-content a {
    color: var(--jdgm-reviewer-name-color);
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.main-heading:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.shop-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px;
    border-radius: 5px;
    margin: 30px;
    width: calc(100% - 60px);
    height: auto;
    top: 112px;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.5s linear 0.1s;
    overflow-y: auto;
    max-height: 500px;
    z-index: 1;
}

.navigation-heading :hover .shop-bar {
    display: block;
}

ul.show-heading-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--jdgm-reviewer-name-color);
    padding: 20px;
}

.card-headings {
    color: var(--jdgm-reviewer-name-color);
}

.card-discription {
    color: var(--jdgm-reviewer-name-color);
}

.card-images {
    width: 222px;
    height: 322px;
    border-radius: 8px;
}

.shop-cards {
    display: flex;
    flex-direction: column;
    align-items: anchor-center;
    gap: 20px;
}

.shop-images {
    display: flex;
    align-items: center;
    gap: 20px;
}

.shop-inner {
    display: flex;
    gap: 20px;
}

.shop-bar-page:has(.shop-hover:hover) .shop-bar {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.shop-bar-page:has(.shop-hover:hover) .icon-roted {
    transform: rotate(180deg);

}

.shop-hover:hover {
    border-bottom: 2px solid black;
}

.shop-bar-page:has(.about-hover:hover) .icon-roted-main {
    transform: rotate(180deg);

}

.about-hover:hover {
    border-bottom: 2px solid black;

}

.shop-bar-page:has(.searchhh:hover) .searching {
    display: block;
}

.shop-bar:hover {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.search-bar {
    display: flex;
    justify-content: center;
    top: 67px;
    background: var(--jdgm-write-review-text-color);
    position: absolute;
    padding: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px;
    border-radius: 5px;
    margin: 1px 30px;
    width: calc(100% - 60px);
    height: 76px;
    position: fixed;
    z-index: 1;
    gap: 25px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.5s linear 0.1s;
}


.search-body {
    background: whitesmoke;
    width: calc(100% - 64px);
}

.sarch>input {
    border: 1px solid gray;
    width: 740px;
    height: 40px;
    border-radius: 5px;
    padding: 20px;
}

.crose {
    margin-top: 5px;
    cursor: pointer;
}

.crose>p {
    font-size: x-large;
}

.sarch-bacground-color {
    background-color: #53565A;
    top: 151px;
    z-index: revert-layer;
    height: 100%;
    background-color: rgb(66 70 98 / 50%);
}

.background-search {
    display: flex;
    justify-content: center;
    top: 140px;
    background-color: rgb(66 70 98 / 50%);
    position: absolute;
    padding: 25px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 2px 0px;
    border-radius: 5px;
    margin: 1px 30px;
    width: calc(100% - 60px);
    height: auto;
    position: fixed;
    z-index: 1;
    gap: 25px;
    z-index: revert;
    height: 100%;
    display: none;
}


div#sidePanel {
    color: #f5fcf8;
}

.side-panel.open {
    right: 0;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-panel {
    position: fixed;
    top: 0;
    right: -452px;
    width: 450px;
    height: 100%;
    background-color: #f0f0f0;
    border-left: 1px solid #ccc;
    padding: 20px;
    transition: right 0.3s;
    z-index: 1000;
}

.responsive-navigation-content {
    position: fixed;
    top: 0;
    left: -452px;
    width: 300px;
    background-color: #ffffff;
    border-left: 1px solid #ccc;
    padding: 20px;
    transition: left 0.3s;
    z-index: 1000;
    top: 140px;
    margin-left: 30px;
    overflow-y: auto;
    height: auto;
}

.responsive-navigation-content.open {
    left: 0;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.closer-button {
    font-size: xx-large;
    color: black;
    margin-inline-start: auto;
    cursor: pointer;
}

.side-panel-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #53565a;
    align-items: center;
    font-size: larger;
    margin: auto;
}

button.shopping-button {
    padding: 20px 40px;
    width: fit-content;
    color: white;
    background: #435870;
    border: none;
    border-radius: 17px;
    cursor: pointer;
}

span.login {
    text-decoration: underline;
    cursor: pointer;
}

.side-panel-heading {
    font-weight: 500;
}

.chat-box {
    padding: 0px 10px;
    background: #435870;
    width: max-content;
    display: flex;
    gap: 5px;
    border-radius: 18px;
    align-items: anchor-center;
    color: white;
    position: absolute;
    top: 500px;
    left: 20px;
    font-size: larger;
}


.chat2>svg {
    width: 50px;
    height: 50px;
}

.chating {

    font-size: 20px;
}

/* ////////////////////////////////////////////////////////////// */
.contact-us-page-content {
    margin: auto;
    max-width: 1600px;
}

.page-heading-discroption {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-self: anchor-center;
}

h2.contact-us-main-heading {
    margin: auto;
    font-size: xx-large;
    font-weight: 500;
}

div#setting {
    display: grid;
}

.hem-bar {
    display: none;
    width: 30px;
    color: black;

}

ul.navigation-bar-respon {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: inherit;
}

.responsive-main {
    color: #53565a;
}

svg.icon.icon-caret {
    width: 15px;
}

.svg-heading {
    display: flex;
    justify-content: space-between;
}


/* ////media query// */
@media (max-width: 990px) {
    .navigations {
        display: none;
    }

    .hem-bar {
        display: flex;
    }

    .banner-page-logo {
        margin: auto;
    }

    .banner-text {
        max-width: 500px;
        font-size: 20px;
    }

    .sarch>input {
        width: auto;
    }

    .side-panel {
        width: 320px;
    }
}


@media (max-width: 750px) {
    .banner-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 10px;
        top: 70%;
    }

    .button {
        height: 66px;
    }

    .side-panel {
        width: 350px;
    }

    .img.header-logo {
        max-width: 100px;
    }

    video.banner-video {
        height: 600px;
    }

}

@media (max-width: 500px) {
    img.header-logo {
        max-width: 70px;
    }

    .hem-bar {
        display: flex;
        max-width: 40px;
    }

    .responsive-navigation-content {
        top: 125px;
    }

    .banner-content {
        position: absolute;
        top: 78%;
    }

    .button {
        width: 102px;
        height: 50px;
    }

    svg.icon.icon-hamburger {
        height: 21px;
    }

    .responsive-navigation-content {
        width: calc(100% - 60px);
    }

    .side-panel {
        width: 100%;
        right: -300%;

    }

    .header-icons {
        width: 111px;
        gap: 27px;
    }
}
